.main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
  .main img {
    z-index: -1;
    position: fixed;
    background: url('../../assets/bkg_overlay.png'), linear-gradient(whitesmoke, #002447);
    transform: rotate(180deg);
    margin: -100px 0 0 0;
  }

.landing {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding: 100px;
  font-size: 36px;
}