.main {
  display: flex;
  justify-content: space-between;
}

  .main img {
    z-index: -1;
    position: fixed;
    background: url('../../assets/bkg_overlay.png'), linear-gradient(whitesmoke, #002447);
    transform: rotate(180deg);
    margin: -100px 0 0 0;
  }

.main-content {
  display: flex;
}

.page {
  min-height: calc(100vh - 100px);
  min-width: 100vw;
  display: flex;
  color: whitesmoke;
  padding: 100px 200px;
  font-size: 36px;
}
  .page h3 {
    color: grey;
  }