.main {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

  .code-icon {
    position: fixed;
    font-size: 900px;
    opacity: 0.5;
    filter: blur(2px);
  }
  .stack-icon {
    position: absolute;
    font-size: 320px;
    transform: translateX(-520px);
  }

.main-content {
  display: flex;
  height: 100%;
}

.page {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  padding: 100px 200px;
  font-size: 36px;
}
  .page h1 { font-size: 140px; }
  .page h3 { color: rgba(255, 255, 255, 0.5); }

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}