.contact-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.contact-icon-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
  border-radius: 6px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .icon {
    font-size: 12vw;
    transition: 0.3s;
    &:hover {
      color: lightskyblue;
      font-size: 13vw;
      transition: 0.3s;
    }
  }
  h2 { font-size: 2.5vw; }
  p { font-size: 1.1vw; }
}
@supports (-ms-ime-align: auto){
  .contact-icon-container { justify-content: space-around; }
}

.show-email {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  * { margin: 20px 0; }
  button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}