.contact-card {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  h4 {
    font-size: 48px;
    text-align: center;
  }
}

.form-inputs {
  padding: 10px;
  * {
    margin: 10px 0;
  }
  input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    &:active, &:focus {
      outline: none;
      caret-color: whitesmoke;
    }
  }
  textarea {
    width: 100%;
    height: 300px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    &:active, &:focus {
      outline: none;
      caret-color: whitesmoke;
    }
  }
}

.contact-icons {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  * {
    margin: 20px;
    font-size: 100px;
    &:hover {
      cursor: pointer;
    }
  }
}