.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30vw;
  color: whitesmoke;
  z-index: 1;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-links {
  display: flex;
}
.header-item {
  margin: 0 30px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid whitesmoke;
}